@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 50, 32, 110;
}

.roomcanvas {
  width: 492px;
  height: 432px;
  image-rendering: pixelated;
}

.doorcanvas{
  width: 60px;
  height: 96px;
  image-rendering: pixelated;
  cursor: pointer;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
